.intro {
  margin-bottom: 16rem;

  &__slider {
    padding: 0 16.4rem;
    margin-bottom: 6rem;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text-block {
    width: 65.2rem;
  }

  &__sub-title {
    margin-bottom: 1.6rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $blue;
  }

  &__title {
    position: relative;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 6.7rem;

    > sup {
      position: relative;
      top: -0.5rem;
      font-weight: 700;
      font-size: 2.6rem;
      line-height: 1;
    }

    &:before {
      content: '';
      position: absolute;
      left: -16.4rem;
      top: calc(100% + 0.6rem);
      width: 20.8rem;
      height: 2px;
      background-color: #BFDDFF;
    }
  }

  &__text-content {
    padding-left: 5.6rem;
  }

  &__list {
    margin-bottom: 6rem;
  }

  &__list-item {
    list-style-type: disc;
    margin-left: 1.6rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__btn {
    margin-bottom: 3.2rem;
  }

  &__link {
  }

  &__img-box {
    width: 106rem;
    height: 67.6rem;
    border-radius: 2.5rem 0 0 2.5rem;
    margin-right: -16.4rem;

    > img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
    }
  }

  &__slider-nav {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    z-index: 1;
    padding: 4rem 2.8rem;
    border-radius: 1.5rem 0 0 0;
    background-color: $bg;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
  }

  &__card-item {
    flex: 30%;
    display: flex;
    align-items: center;
    max-width: 51.5rem;
    padding: 4rem 7.5rem 4rem 5rem;
    border-radius: 1.5rem;
    background-color: $white;
    box-shadow: 0 0.5rem 1.5rem rgba(30, 135, 250, 0.07);
  }

  &__card-icon {
    flex: none;
    width: 6.2rem;
    height: 6.2rem;
    margin-right: 3.2rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__card-text-box {
  }

  &__card-title {
    margin-bottom: 0.8rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: $blue;
  }

  &__card-text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $gray;
  }
}

@media (max-width: 48em) {
  .intro {
    margin-bottom: 20rem;

    &__slider {
      padding: 0 4rem;
      margin-bottom: 8rem;
      margin-top: -4rem;
    }

    &__slide {
      flex-direction: column;
      justify-content: normal;
    }

    &__text-block {
      order: 2;
      width: 100%;
    }

    &__sub-title {
      font-size: 3rem;
      line-height: 3.6rem;
    }

    &__title {
      margin-bottom: 4rem;
      font-size: 6rem;
      line-height: 8rem;

      > sup {
        font-weight: 500;
        font-size: 4rem;
        line-height: 1;
      }

      &:before {
        left: -4rem;
        top: calc(100% + 1.2rem);
        width: 10.4rem;
        height: 1px;
      }
    }

    &__text-content {
      padding-left: 4.8rem;
    }

    &__list {
      margin-bottom: 8rem;
    }

    &__list-item {
      margin-left: 2.6rem;
      font-size: 3rem;
      line-height: 3.6rem;

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }

    &__btn {
      margin-bottom: 4rem;
    }

    &__link {
    }

    &__img-box {
      width: calc(100% + 8rem);
      height: 48.6rem;
      border-radius: 0 0 3rem 3rem;
      margin: 0 0 8rem 0;
    }

    &__slider-nav {
      bottom: auto;
      top: 38rem;
      padding: 4rem;
      border-radius: 3rem 0 0 0;
    }

    &__cards {
      gap: 4rem;
    }

    &__card-item {
      flex: 100%;
      max-width: none;
      padding: 4.8rem;
      border-radius: 3rem;
      box-shadow: 0 1rem 3rem rgba(30, 135, 250, 0.07);
    }

    &__card-icon {
      width: 9.4rem;
      height: 9.4rem;
    }

    &__card-text-box {
    }

    &__card-title {
      font-size: 3.6rem;
      line-height: 4.4rem;
    }

    &__card-text {
      font-size: 3rem;
      line-height: 3.6rem;
    }
  }
}