.requisites {
  margin-bottom: 16rem;

  &__title {
    width: 159.2rem;
    margin: 0 auto 2.8rem auto;
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 5.5rem;
    text-align: center;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 4.4rem 16.4rem;
    border-top: 2px solid #BFDDFF;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      transform: translateX(-50%);
      background-color: #BFDDFF;
    }
  }

  &__item {
    width: 72rem;

    > *:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__text-box {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;

    &--flex {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 48em) {
  .requisites {
    margin-bottom: 20rem;
    padding: 0 4rem;

    &__title {
      width: 100%;
      margin-bottom: 8rem;
      font-size: 6rem;
      line-height: 8rem;
      text-align: left;
    }

    &__content {
      display: block;
      padding: 0;
      border-top: none;

      &:before {
        content: none;
      }
    }

    &__item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      > *:not(:last-child) {
        margin-bottom: 4rem;
      }
    }

    &__text-box {
      padding-bottom: 2.4rem;
      border-bottom: 1px solid #BFDDFF;
      font-size: 3rem;
      line-height: 3.6rem;

      .title {
        display: block;
        margin-bottom: 2.4rem;
      }

      &--flex {
        display: block;

        > * {
          display: block;

          &:not(:last-child) {
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }
}